.navbar {
    padding: 1rem 1rem;
    border-bottom: 2px solid rgb(210, 218, 237);
}

body{
    background-color: rgb(249, 251, 255);
}

#sign-in-button{
    margin-right: 1rem;
}

.dropdown-pull-right {
  float: right !important;
  right: 0;
  left: auto;
}

#menu-id-div{
    margin-left: 5px;
    margin-right: 5px;
}

.webkit {
    -webkit-appearance: none;
}
