.column1{
    float: left;
    width: 33%;
    padding:10px;
    text-align: center;
}

.offering-image{
    width:100%;
}

.card-text{
    height:30%;
    background-color: white;
    border: 1px solid #d2daed;
}

.card-item{
    padding:0.2rem;
    height:33%;
    padding-left:0.5rem;
}

.cart-button-container{
    text-align: center;
}

.b{
    float: right;
}

.displayImage{
    text-align: center;
}

#price {
    font-size: 2rem;
}

#interestedPeople {
    float: right;
    font-size: 1.133rem;
    margin-top: 0.8666rem;
}

#productName {
    padding-left: 15px;
}

#offeringOwner {
    padding-left: 15px;
    margin-bottom: 1rem;
}

.card {
    border-radius: 1rem;
}