.login-wrapper{
    text-align: center;
    
}

.login-container{
    margin-top: 3rem;
    background-color: #ffff;
    width: 65%;
    padding-top: 2rem;
    border-left: 10px solid #b7bece;
}

#forgot-password{
    position:relative;
    left: 15px;
}

.btn-primary{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#submit-button{
    position: relative;
    left: 1px;
    width: 30%;
    font-size: 20px;
}

#confirm-password{
    position:relative;
    right: 33px;
}

#message{
    position:relative;
    left:34px;
}

