<% include partials/header %>
      
<link rel="stylesheet" href="/stylesheets/global.css">
<link rel="stylesheet" href="/stylesheets/addOffering.css">

<div class="container">
  <form action="/addOffering" method="POST" enctype="multipart/form-data">

      <div class="form-group">
          <label for="itemName"><b>Item name</b></label>
          <input type="text" class="form-control" name="itemName" placeholder=""><br>
      </div>
      
      <div class="form-group">
          <label for="Price"><b>rent per month</b></label>
          <input type="text" class="form-control" name="price" placeholder=""><br>
      </div>
      
      <div class="form-group">
          <label for="itemType"><b>Item type</b></label>
          <input type="text" class="form-control" name="itemType" placeholder=""><br>
      </div>
      
      <div class="form-group">
          <label for="itemModel"><b>Author/model</b></label>
          <input type="text" class="form-control" name="itemModel" id="password" placeholder=""><br><br>
      </div>
      
      <div class="form-group">
          <label for="comment"><b>Item description<b></label>
          <textarea class="form-control" rows="5" id="comment" name="description" placeholder=""></textarea><br><br>
      </div>
      
      <div class="form-group">
          <label for="displayPicture"><b>Upload Display Picture</b></label>
          <input type='file' class="form-control" name='dp' onchange="readUrlDp(this);"/>
      </div>
      <div>
      <img id="div-dp" class="image-preview" src="#" alt="preview" />
      </div>
      
      <div class="form-group">
          <label for="displayPicture"><b>Image Angle 1</b></label>
          <input type='file' class="form-control" name='img1' onchange="readUrlImg1(this);"/>
      </div>
      <div>
      <img id="div-img1" class="image-preview" src="#" alt="preview" />
      </div>
      
      <div class="form-group">
          <label for="displayPicture"><b>Image Angle 2</b></label>
          <input type='file' class="form-control" name='img2' onchange="readUrlImg2(this);"/>
      </div>
      <div>
      <img id="div-img2" class="image-preview" src="#" alt="preview" />
      </div>
      
      <div class="form-group">
          <label for="displayPicture"><b>Image Angle 3</b></label>
          <input type='file' class="form-control" name='img3' onchange="readUrlImg3(this);"/>
      </div>
      <div>
      <img id="div-img3" class="image-preview" src="#" alt="preview" />
      </div>
      
       <!--<label for="threePictures"><b>3 More pictures</b></label>-->
       <!--<input type='file' name='otherImages' onchange="previewFiles();" id="files" multiple/>-->
       <!--<div id="preview">-->
       <!--</div>-->
      <div class="container">
      <button class="btn btn-primary" id="submit-button">Submit</button>
      </div>
      
      </form>
      
      <script>
      
      function readUrlDp(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#div-dp')
                    .attr('src', e.target.result)
                    .width('50%')
            };

            reader.readAsDataURL(input.files[0]);
          }
      }
      
     function readUrlImg1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#div-img1')
                    .attr('src', e.target.result)
                    .width('50%')
            };

            reader.readAsDataURL(input.files[0]);
          }
      }
      
      function readUrlImg2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#div-img2')
                    .attr('src', e.target.result)
                    .width('50%')
            };

            reader.readAsDataURL(input.files[0]);
          }
      }
      
      function readUrlImg3(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#div-img3')
                    .attr('src', e.target.result)
                    .width('50%')
            };

            reader.readAsDataURL(input.files[0]);
          }
      }
      
      // function previewFiles() {

      //       var preview = document.querySelector('#preview');
      //       var files   = document.querySelector('#files').files;
      //       console.log(files.length);
          
      //       function readAndPreview(file) {
          
      //         // Make sure `file.name` matches our extensions criteria
              
      //           var reader = new FileReader();
          
      //           reader.addEventListener("load", function () {
      //             var image = new Image();
                  
      //             image.title = file.name;
      //             image.src = this.result;
                  
      //             image.style.width = "33%";
      //             image.style.padding = "10px";
                  
      //             preview.appendChild( image );
      //           }, false);
          
      //           reader.readAsDataURL(file);
      //       }
          
      //       if (files) {
      //         [].forEach.call(files, readAndPreview);
      //       }

      //   }
      </script>
  
</div>
<% include partials/globalSocketIO %>
<% include partials/footer %>
