<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/message.css">

<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <ul id="user-list" class="list-group">
        </ul>
      </div>
      <div class="col-8">
        <ul id="messages" class="message-thread"></ul>
        <form action="">
          <div class="message-text">
            <textarea id="m"
                      class="message form-control" 
                      placeholder="Type and click send">
            </textarea>
            <button ng-click="send()">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  // Make a stable connection with the server
  var socket = io();
  // Set the time last time online status was updated to a low enough value.
  var online_status_update_time = 0;
  // Get username of this user.
  var username = '<%- username %>';
  var user_id = <%- user_id %>;
  var toID;
  // This variable represents the currently selected conversation.
  var selected_conversation;
  
  // This list will keep track of notifications related to conversations. 
  var notificationList = [];
  
  // This list is supposed to hold all messages of the current conversation.
  // It is not is use currently, but it will soon become useful when we deal
  // with group conversations.
  var messageList = [];
  
  // Empty Text Area input.
  $('#m').val('');
  
  // Add default instruction on how to chat. 
  $('#messages').append($('<li>').text("Select a conversation from the menu on the left."));
  
  // This method prepares the markup for a conversation-list contained in
  // data.
  var handleNewConversationList = function(data) {
    console.log("received a user list");
    // If we are making a change that has not been made before.
    if (data.online_status_updated > online_status_update_time) {
      var rows = data.rows;
      online_status_update_time = data.online_status_updated;
      // empty the left menu
      $('#user-list').empty();
      
      for (var i = 0; i < rows.length; i++) {
        var conversation_id = rows[i].id;
        var toUsername;
        if (rows[i].first_user_id == user_id) {
          toUsername = rows[i].second_user_username;
        } else {
          toUsername = rows[i].first_user_username;
        }
        var online_icon = $('<span>');
        // if (rows[i].online) {
        //   online_icon = online_icon.addClass('dot-online');
        // } else {
        //   online_icon = online_icon.addClass('dot-offline');
        // }
        
        // Make list element.
        var list_element = $('<a>')
            .addClass('user-list-item')
            .append(online_icon)
            .append('  ' + toUsername)
            .addClass('list-group-item')
            .attr('id', 'conversation' + conversation_id)
            .attr('href', '#')
            // when user clicks the user item
            .click(rows, function() {
              // change selected conversation.
              selected_conversation = this.id.substring(12, this.id.length);
              highlight(this);
              console.log('conversation with id '+ this.id +' was clicked');
              // Ask for the conversation(messages) between this user and
              // toID.
              // First empty both markup and messageList
              $('#messages').empty();
              messageList = [];
              
              // Tell user we are doing some work.
              $('#messages').append($('<li>').text('Loading'));
              
              // Get all messages and add it to the unordered list.
              socket.emit('get-conversation', selected_conversation, function(messages) {
                // Add all messages to the messageList
                messageList = messages;
                $('#messages').empty();
                for (var i = 0; i < messageList.length; i++) {
                  var message_element = $('<li>').text(messages[i].content);
                  if (messages[i].from_id == user_id) {
                    // If this is my message. Make my message blue.
                    message_element.addClass('my-message');
                  }
                  $('#messages').append(message_element);
                }
                scrollToBottomMessages();
              });
            });
            
        // Highlight conversation if user conversation is currently selected.    
        if (selected_conversation == conversation_id) {
            highlight(list_element);
        }
        
        $('#user-list')
        .append(list_element);
      }
    }
  }
  
  // Get chat-user-list which shows which users are online and which users are
  // offline. This list will fill up the left menu where users can select who
  // they want to chat with.
  socket.on('conversation-list', handleNewConversationList);
  
  // During initialization ask for the conversation-list once.
  socket.emit('get-conversation-list', handleNewConversationList);
  
  //  This event represents a new chat message sent by a user.
  socket.on('new-chat-message', function(data) {
    console.log("handling new message from " + data.fromId);
    $('#' + 'conversation' + data.conversation_id).append(' new message');
    // Only display new message if you have the corresponding conversation
    // screen open.
    if (selected_conversation == data.conversation_id) {
      $('#messages').append($('<li>')
                            .text(data.message));
      scrollToBottomMessages();
    }
  });
  
  // Send new message to server
  $(function () {
    $('form').submit(function() {
      console.log("emmiting chat message");
      var content = $('#m').val();
      socket.emit('new-chat-message', {conversation_id: selected_conversation, message: content});
      $('#m').val('');
      $('#messages').append($('<li>')
                             .text(content)
                             .addClass('my-message'));
      scrollToBottomMessages();
      return false;
    });
  });
  
  // This function will be used to sort messages based on id which corresponds
  // to time.
  var messageListSortFunc = function(ob1, ob2) {
    return ob1.id - ob2.id;
  }
  
  // This function will highlight a given conversation list element in the left menu.
  var highlight = function(list_element) {
    $(".user-list-item").removeClass("active")
    $(list_element).addClass('active');
  }
  
  // Scroll messages to bottom.
  var scrollToBottomMessages = function() {
    // $('.message-thread').animate({scrollTop: $('.message-thread').prop("scrollHeight")}, 500);
    const messageThread = document.querySelector('.message-thread');
    setTimeout(() => {
      messageThread.scrollTop = messageThread.scrollHeight + 500;
    }, 10);
  }
</script>
<% include partials/footer %>