<% include partials/header %>

<ul id="messages"></ul>
<div>
  <input id="m" ng-model="message" autocomplete="off" />
  <button ng-click="send()">Send</button>
</div>
    
<% include partials/footer %>