<% include partials/header %>
      
<link rel="stylesheet" href="/stylesheets/global.css">
<link rel="stylesheet" href="/stylesheets/offerings.css">

    <h1 class="headingDiv"> 
        <span class="a">All Offerings </span>
        <span class="b"> 
          <a href="addOffering"> &#43; Add offering 
          </a> 
        </span>
    </h1>

    <!--<div class="row1">-->
    <!--  <div class="column1">-->
    <!--    <img class="offering-image" src="/users/harshv/calculus.JPG">-->
    <!--  </div>-->
    <!--  <div class="column1">-->
    <!--    <img class="offering-image" src="/users/harshv/GEB.JPG">-->
    <!--  </div>-->
    <!--  <div class="column1">-->
    <!--    <img class="offering-image" src="/users/harshv/guitar.JPG">-->
    <!--  </div>-->
    <!--</div>-->
    <div class="row1">
      <%- threeImages %>
    </div>
<script>
  <%- imagesScript %>
</script>
<% include partials/globalSocketIO %>
<% include partials/footer %>