<% include partials/header %>
        <div>A verification email has been sent to <%= username %>@uw.edu</div>
        <p>
            <br>
            <br>
            <br>
            Did not receive the email ? Check your spam.
        </p>
        
<% include partials/globalSocketIO %>
<% include partials/footer %>