<% include partials/header %>
        <h1>Register</h1>
        <form action="\forgotPassword\requestChange\sendEmail" method="POST">
            <input type="text" name="email" placeholder="UW email">
            <div>
                <%if(doesntExist == true){%>
                <%= 'User with the above email is not registered' %>
                <% } %>
            </div>
            <button>send password change link</button>
        </form>
        <a href="\">go back to home</a>
<% include partials/footer %>