<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <title>DubSwap home</title>
  </head>
  <body>
    
      <nav class="navbar sticky-top navbar-expand-md navbar-light " style="background-color: #ffffff;">
        <a class="navbar-brand" href="/">DubSwap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Books</a>
                <a class="dropdown-item" href="#">Bikes</a>
                <div class="dropdown-divider">Musical Instruments</div>
                <a class="dropdown-item" href="#">Soccer Balls</a>
              </div>
            </li>
            <li class="nav-item">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </li>
            <li class="nav-item" id="profile-stuff">
              <span id="username-nav"><%= username %></span>
              <img id="profile-image">
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <a href="/login" class="btn btn-outline-success my-2 my-sm-0" id="sign-in-button" type="submit">Sign In</a>
            <a href="/register" class="btn btn-outline-success my-2 my-sm-0" id="sign-up-button" type="submit">Sign Up</a>
          </form>
          
        </div>
      </nav>
      
      
<link rel="stylesheet" href="/stylesheets/profile.css">


    
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
        <div class="profile-header-container">   
    		<div class="profile-header-img">
                <img class="img-circle" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" />
                <!-- badge -->
                <div class="rank-label-container">
                    <span class="label label-default rank-label" id="username"><%= username %></span>
                </div>
            </div>
        </div> 
	</div>
</div>

<div>
        <h1>Upload a file</h1>
        <form action="/upload/<%= username %>" method="POST" enctype="multipart/form-data">
            <div>
                <input name="myImage" type="file">
            </div>
            <button class="btn btn-primary" id="submit-button">Submit</button>
        </form>
</div>





<% include partials/footer %>