<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/register.css">

        <div class="login-wrapper">
            <div class="container login-container rounded">
                <h1>Register</h1>
                <form action="\register" method="POST">
                    <label for="uname"><b>UW net-id</b></label>
                    <input type="text" name="username" placeholder="usrname"><br>
                    
                    <label for="psw"><b>Password</b></label>
                    <input type="password" name="password" id="password" placeholder="password" onkeyup='check();'><br>
                    
                    <span id="confirm-password">
                        <label for="psw"><b>Confirm Password</b></label>
                        <input type="password" name="password2" id="confirm_password" placeholder="password" onkeyup='check();'><br>
                        <div id="message"></div>
                    </span>
                    <div id="forgot-password"><a href="\forgotPassword\requestChange">forgot password</a></div>
                    <button class="btn btn-primary" id="submit-button">Submit</button>
                </form>
            </div>
        </div>
        
        
        
        <script>
            alert("hi");
            var button = document.getElementById("submit-button");
            var check = function() {
              if (document.getElementById('password').value ==
                document.getElementById('confirm_password').value) {
                button.disabled = false;
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
              } else {
                button.disabled = true;
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
              }
            }
        </script>
<% include partials/footer %>
    