<% include partials/header %>
      
<link rel="stylesheet" href="/stylesheets/global.css">
<link rel="stylesheet" href="/stylesheets/offerings.css">
                <h1 class="headingDiv"> 
                    <span class="a">Search Results</span>
                </h1>
                
                <h3>
                    <% if (hasNoResults){ %>
                        No result :( 
                    <% }%>
                </h3>
                <div class="row1">
                  <%- allResults %>
                </div>
<script>
  <%- imagesScript %>
</script>

<% include partials/globalSocketIO %>
<% include partials/footer %>