<html>
    <head>
       
    </head>
   
    <body>
        <button id = 'button'>click</button>
        <img id="ItemPreview" src="" />
        
    </body>
    
    <script>
        document.getElementById("ItemPreview").src = "data:image/png;base64," + "<%= imageBytes %>";
    </script>
</html>