<html>
    <head>
        
    </head>
    <body>
        <h1>Upload a file</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <div>
                <input name="myImage" type="file">
            </div>
            <button class="btn btn-primary" id="submit-button">Submit</button>
        </form>
        <img src="images/calculus.JPG">
    </body>
</html>