<html>
    <head>
        
    </head>
    <body>
        <h1>Upload a file</h1>
        <form action="/addOffering" method="POST" enctype="multipart/form-data">
            <div>
                <input name="dp" type="file" multiple/>
            </div>
            
        
            <div>
                <input name="other" type="file" multiple/>
            </div>
            <button class="btn btn-primary" id="submit-button">Submit</button>
        </form>
    </body>
</html>