<html>
    <body>
        <div>A verification email has been sent to <%= username %>@uw.edu</div>
        <p>
            <br>
            <br>
            <br>
            Did not receive the email ? Check your spam and <a href='\verification\sendEmail\<%= modifiedHash%>\<%= username%>'>Click Here</a> to receive another email.
        </p>
    </body>
</html>