<html>
    <body>
        <div>A verification email has been sent to <%= username %>@uw.edu</div>
        <p>
            <br>
            <br>
            <br>
            Did not receive the email ? Check your spam.
        </p>
    </body>
</html>