<html>
    <head>
       
    </head>
   
    <body>
        <button id = 'button'>click</button>
        
        
         <script>
            var helloText = '<%= username %>';
            var button = document.getElementById('button');
            button.addEventListener('click', function(){
                alert(helloText);
            });
        </script>
    </body>
</html>