<h1>Home page</h1>
<div>
    <ul>
        <li><a href="\secret1">secret 1</a></li>
        <li><a href="\secret2">secret 2</a></li>
    </ul>
</div>

<div>
    <ul>
        <li><a href="\register">register</a></li>
        <li><a href="\login">login</a></li>
    </ul>
</div>