<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <title>DubSwap home</title>
  </head>
  <body>
    
      <nav class="navbar sticky-top navbar-expand-md navbar-light " style="background-color: #ffffff;">
        <a class="navbar-brand" href="/">DubSwap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Books</a>
                <a class="dropdown-item" href="#">Bikes</a>
                <div class="dropdown-divider">Musical Instruments</div>
                <a class="dropdown-item" href="#">Soccer Balls</a>
              </div>
            </li>
            <li class="nav-item">
              <form class="form-inline" action="/search" method="GET">
                <input name="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </li>
          </ul>
          
          <div></div>
          <form class="form-inline my-2 my-lg-0">
           <% if(username != null){ %>
            
            <a href="/message" class="btn btn-outline-success my-2 my-sm-0" id="sign-in-button" type="submit">Messages</a>
            <a href="/offerings" class="btn btn-outline-success my-2 my-sm-0" id="sign-in-button" type="submit">My Offerings</a>
            <a href="\profile" id="menu-id-div"><%= username %></a>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                
              </a>
              <div class="dropdown-menu dropdown-pull-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">settings</a>
                <a class="dropdown-item" href="/logout">logout</a>
              </div>
            </div>
            <% }else{ %>
                <a href="/login" class="btn btn-outline-success my-2 my-sm-0" id="sign-in-button" type="submit">Sign In</a>
                <a href="/register" class="btn btn-outline-success my-2 my-sm-0" id="sign-up-button" type="submit">Sign Up</a>
            <% } %>
          </form>
          
        </div>
      </nav>